<div id="options-sidebar" style="background-color:#393d4f !important;" class="bg-dark p-4">
  <form class="container">

    <div class="row">
      <mat-form-field class="col">
        <mat-label>Name</mat-label>
        <input matInput placeholder="(Computer-Name)" required>
      </mat-form-field >
      <mat-form-field class="col">
        <mat-label>Serial Number</mat-label>
        <input matInput placeholder="(Serial-Number)" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Owner ID</mat-label>
        <input matInput placeholder="(Owner-Id)" required>
      </mat-form-field>
      <mat-form-field class="col">
        <mat-label>Status</mat-label>
        <input matInput placeholder="(Computer-Status)" required  >
      </mat-form-field >
    </div>





  </form>
</div>
