<div id="options-sidebar" style="background-color:#393d4f !important;" class="bg-dark p-4">
  <form #addComputerForm="ngForm" (ngSubmit)="onAddComputer(addComputerForm)">
    <div class="row">
      <mat-form-field class="form-group col">
        <mat-label>Name</mat-label>
        <input name="name" ngModel matInput placeholder="(Computer-Name)" required>
      </mat-form-field>
      <mat-form-field class="form-group col">
        <mat-label>Serial Number</mat-label>
        <input name="serial_number" ngModel matInput placeholder="(Serial-Number)" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="form-group col">
        <mat-label>Status</mat-label>
        <input name="status" ngModel matInput placeholder="(Computer-Status)" required  >
      </mat-form-field >
      <mat-form-field class="form-group col">
        <mat-label>Owner</mat-label>
        <input name="owner_id" ngModel matInput placeholder="(Owner-ID)" required  >
      </mat-form-field >
    </div>
    <button [disabled]="addComputerForm.invalid" type="submit"></button>
  </form>
</div>
