button{
  background-color: #393d4f;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px 24px;
  border: none;
  margin-bottom: 20px;
  transition: opacity 0.25s;
}
button:hover{
  opacity: 0.7;
}
button:active{
  opacity: 0.5;
}
