.x-axis-scale {
  max-width: 100%;
  height: auto;
}
body::-webkit-scrollbar{
  width: 12px;
}
body::-webkit-scrollbar-track{
  background-color: var(--bs-white);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--bs-dark);
  border-radius: 100px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
