<div class="container-fluid bg-dark" style="margin-top: 80px" id="projects">
  <div class="row">
    <div class="col-lg-4 p-0">
      <a routerLink="/asset-manager">
        <img src="/assets/asset-manager-demo.png" class="img-fluid x-axis-scale">
      </a>
    </div>
    <div class="col-lg-4 p-0"><img src="/assets/Test1.png" class="img-fluid x-axis-scale"></div>
    <div class="col-lg-4 p-0"><img src="/assets/Test1.png" class="img-fluid x-axis-scale"></div>
  </div>
</div>
<div class="container bg-dark text-white text-center my-5 px-5" id="about">
  <h2 class="mb-4">About</h2>
  <p class="h3 fw-light">
    Hi I’m Dominik and I'm a prospective full-stack developer.
    The majority of my projects, including those available as demos here,
    are developed on the backend using Spring Boot (Java) and SQL (MySQL, LiteSQL, PostgreSQL, H2)
    and on the frontend, I leverage Angular (TypeScript), HTML, Bootstrap (CSS), and JavaScript.
    I am currently studying computer science in a university in Germany.
    I’m free for all kinds of collaborations.
  </p>
</div>
<div class="my-5">
  <img src="/assets/Test1.png" class="img-fluid x-axis-scale">
</div>
<div class="container bg-dark text-white my-5">
  <div class="row">
    <div class="col-4 text-center">
      <p class="h2 fw-light">
        Future-Oriented
      </p>
      <p>
        I am a firm advocate for the integration of Artificial Intelligence
        in my daily endeavors, possessing a keen understanding of how to
        adeptly and efficiently harness cutting-edge technologies.
      </p>
    </div>
    <div class="col-4 text-center">
      <p class="h2 fw-light">
        Secure
      </p>
      <p>
        As a Full-Stack Developer, I bear complete responsibility,
        ensuring 100% ownership of the security aspects of my websites.
        Consequently, I can provide unequivocal assurance of full security
        for each and every site under my purview.
      </p>
    </div>
    <div class="col-4 text-center">
      <p class="h2 fw-light">
        Clean-Code
      </p>
      <p>
        As a developer, particularly as an integral part of a team,
        the paramount objective is crafting code that not only remains
        readable but is consistently comprehensible and well-structured.
        Therefore, I place great emphasis on maintaining my code as clean
        as possible. I also hold a deep regard for the formatting
        preferences of fellow colleagues, adapting to and respecting
        their conventions.
      </p>
    </div>
  </div>
</div>
<div class="my-5">
  <img src="/assets/Test1.png" class="img-fluid x-axis-scale">
</div>
<div class="container bg-dark text-white my-5">
  <div class="row">
    <div class="col-6 text-center">
      <p class="h2 fw-light">
        Automate
      </p>
      <p>
        Automation is imperative in an era, particularly with limited personnel,
        and it is precisely for this reason that I have made it my mission to automate
        as much of my daily tasks as possible, leveraging modern technologies.
        This approach allows me to allocate the maximum amount of time to focus on programming
      </p>
    </div>
    <div class="col-6 text-center">
      <p class="h2 fw-light">
        Algorithms
      </p>
      <p>
        For months, I have diligently delved into the study of algorithms,
        with a steadfast commitment to integrating this knowledge seamlessly into my work.
      </p>
    </div>
  </div>
</div>
<div class="my-5" id="contact">

</div>
